anthropic
gradio
requests
langchain
langchain-anthropic
langchain-community
langchain-core
langchain-huggingface
langchain-tavily
langchain-chroma
langgraph
huggingface_hub
supabase
arxiv
pymupdf
wikipedia
pgvector
python-dotenv